.header {
  height: 560px;
  position: relative;
  background: linear-gradient(180deg, #6A655D 26.56%, rgba(106, 101, 93, 0.35) 91.15%),
  linear-gradient(270deg, #6A655D 0%, rgba(106, 101, 93, 0.95) 54.79%, rgba(196, 196, 196, 0) 100%);
  @media (max-width:1128px) {
    height: 1020px;
  }
  .container,&-wrapper,.contact-information{
    height: 100%;
  }
  &-wrapper {
    display: flex;
    @media (max-width:1128px) {
      display: block;
      //flex-wrap: wrap;
      //justify-content: center;
    }

    .navigation {
      margin-right: 35px;
      padding-top: 10px;

      .menu {
        display: flex;

        .search-input {
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 20px;
          height: 20px;
          width: 250px;
          padding: 15px;
          outline: none;
          background: url("../../assets/images/search.svg") no-repeat center right;
          background-position-x: 215px;
          &::placeholder {
            color: #FFFFFF;
          }
        }

        &-list {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          list-style-type: none;
          width: 100%;
          padding-left: 0;


          &__item {
            cursor: pointer;
            margin-right: 35px;
            @media (max-width: 1200px) {
              margin-right: 25px;
            }
            @media (max-width: 1127px) {
              margin-right: 18px;
            }
            &-top {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              color: #DCDCDC;
              &:nth-child(2){
                margin-left: 10px;
              }
              &:last-child {
                margin-right: 0;
              }
            }

            &-bottom {
              font-size: 18px;
              font-weight: 400;
              line-height: 21px;
              color: #FFFFFF;
              margin-bottom: 15px;
              &:last-child {
                margin-right: 10px;
              }
            }

            a:hover {
              color: #EDB021;
            }
          }
        }
      }

      .menu-top {
        place-items: baseline;
        margin-bottom: 10px;
      }
    }

    .contact-information {
      background-color: #EDB021;
      padding: 30px 64px 44px;
      text-align: center;
      max-width: 463px;
      @media (max-width:1128px) {
        height: auto;
       max-width: 100%;
        text-align-last: center;
      }
      .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          width: 100px;
          height: 100px;
          @media (max-width:1128px) {
            margin-right: 15px;
          }
        }

        .title {
          font-size: 48px;
          font-weight: 700;
          line-height: 56px;
          letter-spacing: 0.155em;
        }

      }

      .phone {
        font-size: 36px;
        margin: 30px 0;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.08em;
        color: black;

        & ~ .wrap {
          margin-top: 30px;
        }

        span {
          margin-right: 15px;
        }
      }

      .wrap {
        text-align: left;

        &__text {
          font-size: 20px;
          font-weight: 300;
          line-height: 23px;
          letter-spacing: 0.02em;
          margin: 0;
        }

        &__link {
          font-size: 14px;
          color: #FFFFFF;
          font-weight: 300;
          line-height: 16px;
        }
      }

      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        margin-top: 25px;
        @media (max-width:1128px) {
          justify-content: center;
        }

        .schedule {
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;
          letter-spacing: 0.05em;
          text-align: left;
          margin: 0;
          @media (max-width:1128px) {
            margin-right: 15px;
          }

          span {
            text-transform: uppercase;
          }
        }
      }

      &__button {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        background: #6A655D;
        color: white;
        padding: 13px 69px 16px;
        border: 1px solid #6a655d;

        &:hover {
          background: #edb021;
          color: black;
        }
      }
    }
  }
}
