.helpful-information {
  background: #1C222A;

  .helpful-information-wrapper {
    padding-top: 65px;
    padding-bottom: 40px;

    .slider-container {
      border-radius: 20px;
      padding: 40px 97px;
      border: 2px solid #edb021;
      position: relative;
      z-index: 1;
      @media (max-width: 958px) {
        border: none;
      }

      .wrap {
        margin-left: 45px;
        background: #1C222A;
        z-index: 2;
        position: relative;
        bottom: 70px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 623px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        .arrows-wrapper {
          display: flex;
          position: relative;
          top: 13px;
          margin-right: 13px;

          .arrow {
            margin-right: 20px;

            &:hover {
              background: #edb021;
              color: white;

              img {
                filter: brightness(10.5);
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

      }

      .wrap-slide {
        display: flex;
        align-items: center;
        margin-right: 1px;
        height: 260px;
        width: auto;
        position: relative;

        .img {
          position: relative;
          z-index: 2;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
          @media (max-width: 1200px) {
            display: none;
          }
        }

        .text-wrapper {
          padding: 29px 26px 22px 57px;
          position: absolute;
          right: 0;
          width: 330px;
          max-height: 217px;
          background: #edb021;
          @media (max-width: 1200px) {
            padding: 29px 26px 22px 26px;
          }
          @media (max-width: 896px) {
            text-align: center;
          }

          .title {
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            color: black;

            &:hover {
              cursor: pointer;
              color: white;
            }
          }

          .subtitle {
            margin-top: 37px;
            margin-bottom: 17px;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
          }

          .link {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            float: right;
            margin-right: 25px;
            color: black;

            &::after {
              margin-left: 2px;
              content: '->';
            }

            &:hover {
              cursor: pointer;
              color: white;
            }
          }
        }
      }
    }
  }

  .swiper-container {
    bottom: 25px;
  }

  .arrows-wrapper {
    .arrow {
      border: 1px solid #edb021;
      border-radius: 50%;
      display: flex;
      width: 28px;
      height: 28px;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    padding: 0 45px;
    @media (max-width: 739px) {
      padding: 0;
    }

    &::after {
      border-top: 2px solid #edb021;
      content: "";
      width: 405px;
      top: 30px;
      margin-left: 45px;
      position: absolute;

    }

    @media (max-width: 1165px) {
      &::after {
        width: 350px;
      }
    }
    @media (max-width: 1100px) {
      &::after {
        width: 300px;
      }
    }
    @media (max-width: 995px) {
      &::after {
        width: 200px;
      }
    }
    @media (max-width: 958px) {
      &::after {
        border: none;
      }
    }
  }
}
