@import "header";
@import "slider";
@import "about-us";
@import "popular";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.button{
  background: #EDB021;
  border-radius: 20px;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1170px;
}
