@import "header";
@import "slider";
@import "about-us";
@import "popular";
@import "variation-of-finishes";
@import "reasons";
@import "contacts";
@import "helpful-information";
@import "footer";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.button{
  background: #EDB021;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.left,.right{
  cursor: pointer;
}

.door {
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  .img-wrapper {
    height: 326px;
    position: relative;
  }

  &__img {
    position: relative;
    z-index: 1;
    height: 326px;
  }

  &__name {
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  &__price {
    font-weight: 400;
    letter-spacing: 0.05em;
  }

  .stars-wrapper {
    position: relative;
    z-index: 2;

    img {
      width: 13px;
      height: 13px;
    }
  }
}

.arrows-wrapper{
  display: flex;
  .arrow{
    border: 1px solid #edb021;
    border-radius: 50%;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
  }
}
//
//@media (max-width: 1200px) {
//  .container {
//    max-width: 970px;
//  }
//}
//
//@media (max-width: 992px) {
//  .container {
//    max-width: 750px;
//  }
//}
//
//@media (max-width: 767px) {
//  .container {
//    max-width: none;
//  }
//}

//@media (max-width: 575px) {
//}
